<div class="main">
  <div class="container">
    <app-header></app-header>
  <app-tasks></app-tasks>
  </div>
  <div class="details">
    <div class="dishContainer">
      <img src="https://images.pexels.com/photos/11654230/pexels-photo-11654230.jpeg" alt="">
      <h3>Dish title here</h3>
      <p class="description">Turpis blandit dictum venenatis excepteur cupiditate aliqua semper ipsam quos sodales veniam nibh faucibus! Dictum pharetra dolore? Ultricies, dolores voluptatem, eius corporis in minim cupidatat voluptatum beatae?</p>
      <p class="price">R56.75</p>
      <button>Order now</button>
    </div>
  </div>
</div>